
table {
    width: 70%;
    border-collapse: collapse;
    background-color:beige;
    justify-content: center;
    margin-top: 100px;
    margin-left: 70px;
  }
  

th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
  }
  
th  {
    background-color: #f4f4f4;
}

